# Ignore the MacOS files
.DS_Store

# Ignore the history of the Jupyter Notebooks
.ipynb_checkpoints

# Packages of the project
packages/

# Project folders not to be tracked
*/datasets/
*/reports/
*/models/

# Cache files
__pycache__
__pypackages__
*.pdm.toml
.venv

# VS Code files
.vscode
*.code-workspace
